#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [2]:
import pandas as pd
df = pd.read_csv('../data/supermarket_sales.csv')

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [18]:
branch_income = df.groupby('Branch')['gross income'].sum()
branch_income

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

In [20]:
print(f"–ù–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–π —Ñ—ñ–ª—ñ–∞–ª: {branch_income.idxmax()} —ñ –π–æ–≥–æ —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ —Å–∫–ª–∞–¥–∞—î {branch_income.max():.2f}")

–ù–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–π —Ñ—ñ–ª—ñ–∞–ª: C —ñ –π–æ–≥–æ —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ —Å–∫–ª–∞–¥–∞—î 5265.18

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [26]:
df.groupby(['Branch', 'City'])['gross income'].sum()

Branch  City
A       Yangon       5057.1605
B       Mandalay     5057.0320
C       Naypyitaw    5265.1765
Name: gross income, dtype: float64

In [34]:
print(f"–ú—ñ—Å—Ç–æ –∑ –Ω–∞–π–≤–∏—â–∏–º —Å—É–º–∞—Ä–Ω–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º: {df.loc[df['gross income'].idxmax(), 'City']}")

–ú—ñ—Å—Ç–æ –∑ –Ω–∞–π–≤–∏—â–∏–º —Å—É–º–∞—Ä–Ω–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º: Naypyitaw

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [46]:
invoices_by_category = df.pivot_table(
    index='Branch',                  
    columns='Product line',
    values='Invoice ID',       
    aggfunc='count',               
    fill_value=0             
)

In [48]:
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [68]:
branch_max_invoices = invoices_by_category['Electronic accessories'].idxmax()
max_invoices = invoices_by_category['Electronic accessories'].max()

In [70]:
print(f"–§—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–±—ñ–ª—å—à–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é —ñ–Ω–≤–æ–π—Å—ñ–≤ –¥–ª—è 'Electronic accessories': {branch_max_invoices}, —ó—Ö –∫—ñ–ª—å–∫—ñ—Å—Ç—å —Å—Ç–∞–Ω–æ–≤–∏—Ç—å {max_invoices}")

–§—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–±—ñ–ª—å—à–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é —ñ–Ω–≤–æ–π—Å—ñ–≤ –¥–ª—è 'Electronic accessories': A, —ó—Ö –∫—ñ–ª—å–∫—ñ—Å—Ç—å —Å—Ç–∞–Ω–æ–≤–∏—Ç—å 60

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

1. –ß–∏ –∑–∞–ª–µ–∂–∞—Ç—å –ø—Ä–æ–¥–∞–∂—ñ –≤—ñ–¥ –¥–Ω—ñ–≤ —Ç–∏–∂–Ω—è —ñ —á–∞—Å—É –¥–æ–±–∏?
2. –ß–∏ —ñ—Å–Ω—É—î –∑–≤—è–∑–æ–∫ –º—ñ–∂ —Å–ø–æ—Å–æ–±–æ–º –æ–ø–ª–∞—Ç–∏ –ø–æ–∫—É–ø–æ–∫ —ñ –∫—ñ–ª—å–∫—ñ—Å—Ç—é –∑–¥—ñ–π—Å–Ω–µ–Ω–∏—Ö –ø–æ–∫—É–ø–æ–∫? –Ø–∫—ñ –≤–∏–¥–∏ –ø–æ–∫—É–ø–æ–∫ –æ–ø–ª–∞—á—É—é—Ç—å —Ç–∏–º —á–∏ —ñ–Ω—à–∏–º —Å–ø–æ—Å–æ–±–æ–º —á–∞—Å—Ç—ñ—à–µ?
3. –Ø–∫ —Ç–∏–ø –∫–ª—ñ—î–Ω—Ç—É —á–∞—Å—Ç—ñ—à–µ –∑–¥—ñ–π—Å–Ω—é—î –ø–æ–∫—É–ø–∫–∏ –∫–æ–∂–Ω–æ—ó –ª—ñ–Ω—ñ–π–∫–∏ –ø—Ä–æ–¥—É–∫—Ü—ñ—ó?

In [174]:
# 1 –ø–∏—Ç–∞–Ω–Ω—è(–≥—ñ–ø–æ—Ç–µ–∑–∞) –º–æ–∂–µ–º–æ –ø–æ–±–∞—á–∏—Ç–∏ –≤ —è–∫–∏–π —á–∞—Å –¥–æ–±–∏ —ñ –¥–Ω—è —Ç–∏–∂–Ω—è –∫—É–ø—É—é—Ç—å —Ç–æ–≤–∞—Ä—ñ–≤ –Ω–∞ –Ω–∞–π–±—ñ–ª—å—à—ñ —Å—É–º–∏
sales_by_day_time = df.groupby(['Date', 'Time']).agg({
    'Total': 'sum'
}).reset_index()
df['Date'] = pd.to_datetime(df['Date'])
df['Day of Week'] = df['Date'].dt.day_name()

In [176]:
def get_hour(time_str):
    hour_str = time_str.split(':')[0]
    return int(hour_str)
df['Hour'] = df['Time'].apply(get_hour)

sales_by_day_hour = df.groupby(['Day of Week', 'Hour']).agg({
    'Total': 'sum'
}).reset_index()

In [178]:
sales_by_day_hour

   Day of Week  Hour      Total
0       Friday    10  5671.6905
1       Friday    11  2649.2865
2       Friday    12  2159.2410
3       Friday    13  6824.3070
4       Friday    14  5166.2730
..         ...   ...        ...
72   Wednesday    16  3229.6215
73   Wednesday    17  3101.2695
74   Wednesday    18  4233.7680
75   Wednesday    19  4160.1735
76   Wednesday    20  2782.8360

[77 rows x 3 columns]

In [140]:
# 2 –ø–∏—Ç–∞–Ω–Ω—è(–≥—ñ–ø–æ—Ç–µ–∑–∞) –º–æ–∂–µ–º–æ –ø–æ–±–∞—á–∏—Ç–∏ —è–∫–∏–º —Å–ø–æ—Å–æ–±–æ–º —á–∞—Å—Ç—ñ—à–µ –æ–ø–ª–∞—á—É—é—Ç—å –ø–µ–≤–Ω—ñ –≤–∏–¥–∏ –ø–æ–∫—É–ø–æ–∫, —Ç–∞–∫–æ–∂ –º–æ–∂–Ω–∞ –ø–æ–¥–∏–≤–∏—Ç–∏—Å—å —Å–∏—Ç—É–∞—Ü—ñ—é –ø–æ –º—ñ—Å—Ç–∞–º (–¥–æ–¥–∞–≤—à–∏ –∫–æ–ª–æ–Ω–∫—É City)
payment_quantity_summary = df.groupby(['Payment', 'Product line']).agg({
    'Quantity': 'sum'
}).reset_index()
payment_quantity_summary

        Payment            Product line  Quantity
0          Cash  Electronic accessories       398
1          Cash     Fashion accessories       280
2          Cash      Food and beverages       295
3          Cash       Health and beauty       293
4          Cash      Home and lifestyle       306
5          Cash       Sports and travel       324
6   Credit card  Electronic accessories       262
7   Credit card     Fashion accessories       293
8   Credit card      Food and beverages       335
9   Credit card       Health and beauty       274
10  Credit card      Home and lifestyle       259
11  Credit card       Sports and travel       299
12      Ewallet  Electronic accessories       311
13      Ewallet     Fashion accessories       329
14      Ewallet      Food and beverages       322
15      Ewallet       Health and beauty       287
16      Ewallet      Home and lifestyle       346
17      Ewallet       Sports and travel       297

In [148]:
max_quantity_summary = payment_quantity_summary.loc[
    payment_quantity_summary.groupby('Payment')['Quantity'].idxmax()
].reset_index(drop=True)
max_quantity_summary
# —Ç—É—Ç –±–∞—á–∏–º–æ —è–∫–∏–º –∑—ñ —Å–ø–æ—Å–æ–±—ñ–≤ –Ω–∞–π—á–∞—Å—Ç—ñ—à–µ –æ–ø–ª–∞—á—É—é—Ç—å –ø–µ–≤–Ω—É –ª—ñ–Ω—ñ–π–∫—É —Ç–æ–≤–∞—Ä—ñ–≤, —Ç–æ–±—Ç–æ –≥–æ—Ç—ñ–≤–∫–æ—é –µ–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏, –∫—Ä–µ–¥–∏—Ç–∫–æ—é - —ó–∂—É —Ç–∞ –Ω–∞–ø–æ—ó, –µ-–≥–∞–º–∞–Ω—Ü–µ–º - —Ç–æ–≤–∞—Ä–∏ –¥–ª—è –¥–æ–º—É —ñ –∂–∏—Ç—Ç—è

       Payment            Product line  Quantity
0         Cash  Electronic accessories       398
1  Credit card      Food and beverages       335
2      Ewallet      Home and lifestyle       346

In [100]:
# 3 –ø–∏—Ç–∞–Ω–Ω—è(–≥—ñ–ø–æ—Ç–µ–∑–∞)
purchase_by_customer_type = df.groupby(['Customer type', 'Product line']).agg({
    'Total': 'mean',   # —Ç—É—Ç –º–æ–∂–Ω–∞ –≤–∑—è—Ç–∏ —ñ min/max, —â–æ–± –ø—Ä–æ—Å–ª—ñ–¥–∫—É–≤–∞—Ç–∏ —Ç–µ–Ω–¥–µ–Ω—Ü—ñ—ó —â–æ–¥–æ –º—ñ–Ω—ñ–º–∞–ª—å–Ω–∏—Ö/–º–∞–∫—Å–∏–º–∞–ª—å–Ω–∏—Ö c—É–º –ø–æ–∫—É–ø–æ–∫
    'Quantity': 'sum'
}).reset_index()
purchase_by_customer_type # —Ç—É—Ç –±–∞—á–∏–º–æ, –¥–∞–Ω—ñ –ø–æ –∫–æ–∂–Ω–æ–º—É –≤–∏–¥—É –ø–æ–∫—É–ø—Ü—è

   Customer type            Product line       Total  Quantity
0         Member  Electronic accessories  314.083269       429
1         Member     Fashion accessories  306.092581       439
2         Member      Food and beverages  333.591702       506
3         Member       Health and beauty  353.849856       428
4         Member      Home and lifestyle  337.084663       490
5         Member       Sports and travel  324.532190       493
6         Normal  Electronic accessories  324.337353       542
7         Normal     Fashion accessories  304.151446       463
8         Normal      Food and beverages  309.840300       446
9         Normal       Health and beauty  295.730373       426
10        Normal      Home and lifestyle  336.154364       421
11        Normal       Sports and travel  340.361089       427

–Ø–∫ —Ü—ñ –ø–∏—Ç–∞–Ω–Ω—è —ñ –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ –Ω–∏—Ö –º–æ–∂–Ω–∞ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞—Ç–∏ –≤ –±—ñ–∑–Ω–µ—Å—ñ –ø—Ä–∏ –ø—Ä–∏–π–Ω—è—Ç—Ç—ñ —Ä—ñ—à–µ–Ω—å?
1. –ú–æ–∂–Ω–∞ —Ä–æ–±–∏—Ç–∏ –∑–Ω–∏–∂–∫–∏ "—â–∞—Å–ª–∏–≤—ñ –≥–æ–¥–∏–Ω–∏" –≤ –ø–µ–≤–Ω–∏–π —á–∞—Å —Ç–∏–∂–Ω—è, –≤ –ø–æ–¥–∞–ª—å—à–æ–º—É —Ü–µ–π –∞–Ω–∞–ª—ñ–∑ –º–æ–∂–Ω–∞ —Ä–æ–∑—à–∏—Ä–∏—Ç–∏ –¥–æ –ª–æ–∫–∞—Ü—ñ—ó –º–∞–≥–∞–∑–∏–Ω—É (City) —ñ –≥—Ä—É–ø–∏ —Ç–æ–≤–∞—Ä—É (Product line), –∞–±–∏ "—â–∞—Å–ª–∏–≤—ñ –≥–æ–¥–∏–Ω–∏" –±—É–ª–∏ –Ω–∞ –ø–µ–≤–Ω—ñ –≥—Ä—É–ø–∏ —Ç–æ–≤–∞—Ä—É —ñ –≤ –ø–µ–≤–Ω–∏—Ö –ª–æ–∫–∞—Ü—ñ—è—Ö. —Ü–µ –¥–æ–∑–≤–æ–ª–∏—Ç—å –¥–æ–¥–∞—Ç–∫–æ–≤–æ –ø—Ä–æ—Å—Ç–∏–º—É–ª—é–≤–∞—Ç–∏ –ø—Ä–æ–¥–∞–∂—ñ —Ç–∞ –∑–±—ñ–ª—å—à–∏—Ç–∏ –ø—Ä–∏–±—É—Ç–æ–∫, –ø—ñ–¥–≤–∏—â–∏—Ç–∏ –ª–æ—è–ª—å–Ω—ñ—Å—Ç—å –ø–æ–∫—É–ø—Ü—ñ–≤.
2. –¢–∞–∫ —è–∫ –≤—Ü—ñ–ª–æ–º—É —Å–ø–æ—Å—Ç–µ—Ä—ñ–≥–∞—î—Ç—å—Å—è, —â–æ –≥–æ—Ç—ñ–≤–∫–æ—é –æ–ø–ª–∞—á—É—é—Ç—å –∑–Ω–∞—á–Ω–æ –º–µ–Ω—à–µ, –Ω—ñ–∂ –∫–∞—Ä—Ç–∫–∞–º–∏ —á–∏ –µ–ª–µ–∫—Ç—Ä–æ–Ω–Ω–∏–º –≥–∞–º–∞–Ω—Ü–µ–º, —Ç–æ –¥–ª—è –º–∞–≥–∞–∑–∏–Ω—ñ–≤ –º–æ–∂–Ω–∞ –≤–≤–µ—Å—Ç–∏ —Å–∏—Å—Ç–µ–º—É –∫–µ—à–±–µ–∫—ñ–≤ –Ω–∞ –æ–ø–ª–∞—Ç—É –∫–∞—Ä—Ç–∫–æ—é/–µ–ª–µ–∫—Ç—Ä–æ–Ω–Ω–æ, —â–æ–± –±—ñ–ª—å—à–µ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ–≤ –∑–¥—ñ–π—Å–Ω—é–≤–∞–ª–æ –±–µ–∑–≥–æ—Ç—ñ–≤–∫–æ–≤—É –æ–ø–ª–∞—Ç—É, —Ç–∞–∫–∏–º —á–∏–Ω–æ–º –∑–º–µ–Ω—à–∏—Ç–∏ –æ–±—ñ–≥ –≥–æ—Ç—ñ–≤–∫–∏ (–∑–º–µ–Ω—à–∞—Ç—å—Å—è –ø—Ä–æ–±–ª–µ–º–∏ –∑ –≤–∏–¥–∞—á–µ—é —Ä–µ—à—Ç–∏, –Ω–µ–¥–æ—Å—Ç–∞—á–∞–º–∏, –≤–∏—Ç—Ä–∞—Ç–∞–º–∏ —á–∞—Å—É –Ω–∞ —ñ–Ω–∫–∞—Å–∞—Ü—ñ—é –∫–æ—à—Ç—ñ–≤, –∑–º–µ–Ω—à–µ–Ω–Ω—è–º –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –∑–ª–æ–¥—ñ—ó–≤, —è–∫—ñ –∫—Ä–∞–¥—É—Ç—å –≥—Ä–æ—à—ñ –∑ –∫–∞—Å)—é
3. –¢—É—Ç –º–æ–∂–Ω–∞ –ø—Ä–æ—Å–ø–æ—Å—Ç–µ—Ä—ñ–≥–∞—Ç–∏ —è–∫ –ø—Ä–∞—Ü—é—î –≤–∑–∞–≥–∞–ª—ñ —á–ª–µ–Ω—Å—å–∫–∞ —Å–∏—Å—Ç–µ–º–∞ —ñ –ø–æ–¥—É–º–∞—Ç–∏ —è–∫ –∑–±—ñ–ª—å—à–∏—Ç–∏ –ª–æ—è–ª—å–Ω—ñ—Å—Ç—å –Ω–∞—è–≤–Ω–∏—Ö –ø–æ–∫—É–ø—Ü—ñ–≤ –∑ —á–ª–µ–Ω—Å—å–∫–æ—é –∫–∞—Ä—Ç–æ—é —Ç–∞ —è–∫ —ó—Ö –≤—ñ–¥–¥—è—á–∏—Ç–∏ –∑–∞ –ø—Ä–∏—î–¥–Ω–∞–Ω–Ω—è. –ù–∞–ø—Ä–∏–∫–ª–∞–¥, –¥–æ–¥–∞—Ç–∏ –±–æ–Ω—É—Å–∏ –∑–∞ –ø–æ–∫—É–ø–∫—É —Ç–æ–≤–∞—Ä—ñ–≤, —è–∫—ñ –∫—É–ø—É—é—Ç—å—Å—è –Ω–∞–π–º–µ–Ω—à–µ, –ø—Ä–æ–ø–æ–Ω—É–≤–∞—Ç–∏ –∫–∞—Ä—Ç—É —á–ª–µ–Ω—Å—Ç–≤–∞ –±–µ–∑–∫–æ—à—Ç–æ–≤–Ω–æ –∑–∞ –ø–æ–∫—É–ø–∫—É –ø–µ–≤–Ω–∏—Ö –∫–∞—Ç–µ–≥–æ—Ä—ñ–π —Ç–æ–≤–∞—Ä—ñ–≤